@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welkom bij Festivo</h1>
    <h4>Bekijk vlug ons aanbod van evenementen, wij weten zeker dat u niks wilt missen!</h4>
    <img src="~/images/startpagina.jpg" alt="Startpagina" width="600" height="400" />
</div>

<div class="text-center">
    <button type="button" onclick="window.location.href='https://localhost:7057/Events'" class="btn btn-primary btn-lg">BEKIJK ONS AANBOD</button>
</div>